*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*------------navigation bar--------------------*/
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}
.logo{
    margin-left: -70px;
}
.input-box{
    width: 500px;
    display: flex;
    margin-right: 30px;
   
}

input{
    height: 36px;
    width: 1000px;
    border-radius: 5px;
    padding: 0 16px;
    border-radius: 4px 0 0 4px;
    border: 0;
    outline: 0 none;
     background-color: azure;
}

a{
    text-decoration: none;
}

/*------products-------*/
.products-1{
    display: flex;
    color: #212121;
  margin: 4%;
    
    justify-content: space-evenly;
    align-items: center;
}

.smallCard {
    width: 94px;
    height: 112px;
    padding: 10px;
    margin: 0px 20px;
}

.card {
    height: 64px;
    width: 64px;
}


.smallCard p {
    text-align: center;
}


/*--------------------PRODUCTS-2----------------*/

.itemSection {
    max-width: 1434px;
    height: 314px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    width: 232px;
    height: 314px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.itemImg {
    height: 200px;
}

.itemDescription {
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
    text-align: center;
}

.buyNowText {
    color: #388e3c;
    padding-top: 8px;
    font-size: 16px;
    text-align: center;
}

.itemHeadName {
    word-wrap: break-word;
    font-size: 30px;
    line-height: 1.38;
    color: #2e2e2e;
    text-align: center;

}

.viewAllSection {
    margin-top: 24px;
    text-align: center;
}



.viewAllButton {
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    border: none;
    height: 38px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewAllText {
    font-size: 13px;

}


.line {
    width: 100%;
    border: none;
    border-top: 8px solid rgba(213, 207, 207, 0.617);
}

/*--------footer--------------*/
 .footer{
    display: flex;
    background-color: #172337;
    color: aliceblue;
    justify-content: space-between;
    padding: 25px;
 }
 .footerContent{
   margin-left: 30px;
 }